@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html{
 font-size: 16px;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  font-weight: bold;
  padding: 5px 10px;
  color: #fff;
  border: none;
  background-color: cornflowerblue;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

.hdn{
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}