@charset "UTF-8";
/* CSS Document */

/*リセットCSS A Modern CSS Reset*/

/* Box sizing rules */
*,　/*アスタリスクは全部を示すセレクタ*/
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],　/*ulでクラスに付いているものに指定するという意味*/
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html{
 font-size: 16px;
}

/* Set core root defaults */
/*html {
  scroll-behavior: smooth;
}*/

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
/*>はその子要素を指定するという意味
+は次の要素という意味*/
  margin-top: 1rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  font-weight: bold;
  padding: 5px 10px;
  color: #fff;
  border: none;
  background-color: cornflowerblue;
}

/* Blur images when they have no alt attribute */
/*
img:not([alt]) {
  filter: blur(10px);
}
*/

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
/*    scroll-behavior: auto !important;*/
  }
}

.hdn{
	display: block;/* 箱にする*/
	text-indent: 100%;
	white-space: nowrap;/* 改行をコントロール*/
	overflow: hidden;/*枠からはみ出たものを隠す*/
}
